/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-orange: #ff8c00;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 999;
}

#navbar.navbar--dark {
  background-color: var(--color-orange);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__meunu_item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__meunu_item:hover {
  border: var(--color-white);
  background-color: var(--color-dark-orange);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
  /* opacity로 적용하면 마우스 올라가면 클릭 되어짐 *주의* */
}

/* Home */
#home {
  background: url("imgs/배경화면.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  /* 화면을 늘림에 따라 박스 사이즈 변화되는 것 방지 */
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  /* text 세로축 중심으로 중앙으로 정렬하고 싶을때 */
  margin: auto;
  /* block 단위의 태그는 마진이 오른쪽으로 자동적으로 들어감 그래서 마진을 오른쪽, 왼쪽 골고루 들어가게끔 해야한다. */
  font-size: 70px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon i:hover {
  color: var(--color-dark-orange);
  transform: rotate(-30deg) scale(1.2);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__logo {
  width: 70px;
  height: 70px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  /* 부모 박스 안에 아이템들이 부모 박스가 커짐에 따라 자동적으로 늘어나게 만들기 위해서는 자식 아이템별로 플렉스 베이시스를 지정해주어야함. */
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.ets {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* 내가 수정한거임. */
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px;
  width: 250px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-dark-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  /* 원이 예쁘지 않은 것은 span 태그 자체가 꽉 감싸주는 사이즈로 정해주기 때문에 */
  line-height: 24px;
  display: inline-block;
  /* inline 속성상 span 태그 자체가 꽉 감싸주기 때문에 inline-block으로 설정해주면 많이 예뻐진다. */
  position: relative;
  top: -20px;
  left: 3px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  /* 크기 조절에 따른 한 줄에 아이템이 꽉차면 자동적으로 줄바꿈을 할 수 있도록 만들어 보자 (wrapping) 영어 뜻 그대로 */
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  /* 자신이 담겨져있는 통 안에서만 최대치로 커져야 하기 때문에 이렇게 설정 */
}

.project__description {
  position: absolute;
  /* 원래 들어있던 박스에서 벗어나서 위치를 바꾸는 것은 포지션 앱솔루트 입니다. */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  /* 원래는 opacity 0, 10px 정도 내려 놓는다. */
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  background-color: var(--color-dark-white);
  margin-top: 8px;
  /* h3 다음에(after or before) 콘텐트 박스를 넣어주는 것임. */
}

/* Testimonial */
#testimonial {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-orange);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-black);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--color-white);
  background-color: var(--color-dark-orange);
  border-radius: 50%;
  /* display: none; */
  /* display 같은 경우 완전히 없어졌다가 나타나는 것이기 때문에 */
  /* 애니메이션이 되지 않음 */
  opacity: 0;
  pointer-events: none;
  /* 안보일때는 클릭 안되게끔 하기 */
  transition: opacity var(--animation-duration) ease-in;
}

.arrow-up.visible {
  /* display: block; */
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* 반응형 만들때 미디어 쿼리에 들어가야 할 것은 최소한 즉, 차이점만 들어가야함 */
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
    /* 화면 크기가 작아졌을때 자동적으로 매꿔주는 것 */
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
